@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");

body {
  background-color: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .5s ease-in-out;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-top: 15%;
}

#text {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
}


.buttons {
    display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
    border: 0;
    border-radius: 0.317rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    cursor: crosshair;
}



.change_color{
  background-color: whitesmoke;
  width: 25%;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
  
}

svg { 
  height:2em;
  width:2em;      
  padding-left: 2rem;
  transition: all .5s ease-in-out;
}
p {
  transition: all .5s ease-out;

}